<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Components</title>
</head>

<body>
    <h2>@typography</h2>
    <h1>biggest heading</h1>
    <p>its paragrpah</p>
    <p>its another <strong>bold</strong> paragraph</p>
    <small>smallest text</small>
    <hr>

    <h2>@container</h2>
    <h3>fluid container</h3>
    <div class="container">it will go till the end of the page</div>

    <h3>fixed container</h3>
    <div class="container container-center">it will go till specified width of the page</div>
    <hr>

    <h2>@links</h2>
    <!-- a,small are inline elements -->
    <a class="link primary-link" href="">Primary link </a>
    <a class="link secondary-link" href="">Secondary link</a>
    <hr>

    <h2>@lists</h2>
    <h3>unordered list</h3>
    <ul class="non-bullet">
        <li>first</li>
        <li>second</li>
        <li>third</li>
    </ul>

    <h3>unordered inline list</h3>
    <ul class="non-bullet ">
        <li class="list-inline">inline first</li>
        <li class="list-inline">inline second</li>
        <li class="list-inline">inline third</li>
    </ul>

    <h3>reverse ordered list</h3>
    <ol reversed>
        <li>milk</li>
        <li>egg</li>
        <li>bread</li>
    </ol>
    <hr>

    <h2>@nav</h2>

    <nav class="navigation">
        <div class="nav-title">iamBrand</div>
        <ul class="non-bullet alignment">
            <li class="list-inline ">
                <a class="link " href="">Home</a>
            </li>
            <li class="list-inline ">
                <a class="link " href="">Projects</a>
            </li>
            <li class="list-inline ">
                <a class="link " href="">Blogs</a>
            </li>
        </ul>
    </nav>
    <hr>

    <h2>@header</h2>
    <header class="header container-center">
        <img class="header-img" src="images/portfolio_red.svg" alt="">
        <h1 class="header-title">Ragini the Web Developer</h1>
    </header>
    <hr>

    <h2>@section</h2>
    <section class="">
        <div class="container-center">
            <h1>white section</h1>
            <p>this section will have white background</p>
        </div>
    </section>
    <section class="ow ">
        <div class="container-center">
            <h1>off white section</h1>
            <p>this section will have off white background</p>
        </div>
    </section>

    <section class="ow ">
        <div class="container-center">
            <h1>off white section</h1>
            <p>this section will have off white background</p>
        </div>
    </section>
    <hr>

    <h2>@footer</h2>
    <!-- never use h1 h2 in footer -->
    <footer>
        <div class="container-center footer-text">
            <div>footer heading</div>
            <ul class="non-bullet  ">
                <li class="list-inline "><a class="link" href="">social1</a></li>
                <li class="list-inline "><a class="link" href="">social2</a></li>
                <li class="list-inline "><a class="link" href="">social3</a></li>
            </ul>
        </div>
    </footer>


    <div style="height: 50px;"></div>
</body>

</html>